/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // run all tests with 1 threads
    max_cpus = 8
    max_memory = 16.GB
}


